{% extends 'base.html.twig' %}

{% block title %}Accueil catégories{% endblock %}

{% block body %}
    <h1>Accueil catégories</h1>
    {% for flashMessage in app.session.flashbag.get('still_attached') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pager %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Plus d'informations</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{pagerfanta(pager)}}

    <a href="{{ path('app_category_new') }}">Nouvelle catégorie</a>
{% endblock %}
