{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ advert.content }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ advert.author }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ advert.email }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ advert.state }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ advert.publishedAt ? advert.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_advert_index') }}">Retour</a>

{% endblock %}
